@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@font-face { font-family: MOB; src: url('master_of_break.otf') format('opentype'); }

::selection {
	background: blue;
	color: white;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100dvh;
	background: #e1e1e1;
	font: normal 62.5% 'Helvetica Neue', Helvetica, Verdana, Sans-serif;
}

h3 {
	font-weight: normal;
	font-size: 3rem;
}

ul {
	list-style-type: none;
}

#contact, #pie {
	position: absolute;
	bottom: 0;

	ul {
		display: flex;
		margin: 0;
		padding: 0;
		width: 100dvw;

		li {
			display: flex;
			flex: 1;
			margin: .1rem;
			flex-direction: row;


			a {
				flex: 1;
				color: white;
				padding: 2rem 0;
				text-align: center;
				background: #2b2b2b;

				&.whatsapp {
					background: #25D366;

					&:hover {
						background: #075E54;
					}
				}

				&.linkedin {
					background: #0077B5;

					&:hover {
						background: #005F91;
					}
				}

				&.instagram {
					background: #E1306C;

					&:hover {
						background: #C13584;
					}
				}

				&.wordpress {
					background: #21759b;

					&:hover {
						background: #d54e21;
					}
				}

				i {
					font-size: 3rem;
				}
			}
		}
	}
}

#contact {
	top: 0;

	ul li a i {
		font-size: 5rem;
	}
}

#cabecera {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;

	h1 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: white;
		font: bold 4rem "MOB", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1),
			0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25),
			0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

		span {
			&:first-child {
				padding-right: 1rem;
			}

			&:last-child {
				padding-left: 1rem;
			}
		}
	}

	h2 {
		font: bold 3rem Monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	img {
		border-radius: 100%;
		border: none;
		background: white;
		padding: 1.5rem;
		max-width: 10rem;
		box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
	}
}

@media only screen and (min-width: 768px) {

	#cabecera {
		img {
			position: absolute;
			width: 250px !important;
		}

		h1 {
			font-size: 5rem;

			span {
				&:first-child {
					padding-left: 3rem;
				}

				&:last-child {
					padding-left: 18rem;
				}
			}
		}
	}

}